<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="resources/styles.css">
    <title>cslckrwbcl</title>
</head>
<body>
    <div class='container'>
        <img src="resources/favicon.ico" alt="favicon" class="favicon">
        <p class="time">00</p>
        <form onsubmit="event.preventDefault(); verifyPassword();">
            <input class="password-input" type="password" id="password" name="password" placeholder="Enter password" required autofocus>
            <input class="submit-btn" type="submit" value="Submit">
        </form>
    </div>

    <script src="resources/script.js"></script>
</body>
</html>