body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.flash {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

.time {
    position: absolute;
    top: 30px;
    font-size: 26px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

input[type="password"] {
    border: none;
    border-bottom: 2px solid #cc6300;
    background: transparent;
    color: #ffffff;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 30px;
    padding: 10px;
}

input[type="submit"] {
    background: #cc7400;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #ac6100;
}

input[type="password"]:focus {
    outline: none;
    border-bottom: 2px solid #cc7400;
}

::placeholder {
    color: #666666;
}

.message {
    margin-top: -70px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 26px;
    text-align: center;
}

.loader {
    position: absolute;
    top: 50%;
    left: 47.4%;
    border: 8px solid transparent;
    border-radius: 50%;
    border-top: 8px solid #cc7400;
    width: 70px;
    height: 70px;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}